
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
                

.regular-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.miama-font{
    font-family: 'Miama', sans-serif;
}




/* shared styles */
.text-color{
    color: #FFFFFF;
}
.display-flex{
    display: flex;
}

.text-pera{
    font-size: 10px;
    
}

.color{
    background-color: #E6533C;

}

.container-size{
    max-width: 1440px;
    height: 715px;
}






/* header part */
.bg-colour{
    background: linear-gradient(180deg,
    rgba(19,19,19,0.747) 0%, rgb(30,30,30) 50%, rgba(1,1,1,0.719) 100%);
}

.navbar{
    justify-content: space-between;
    
}
.brand{
    padding-left: 70px;
    color: #E6533C;
}

.nav-items{
    padding-right: 70px;
    box-shadow: 1px solid #FFFFFF;
}
.home-bg{
    background-color: #E6533C
    
    
    
}

.text-color{
    color: #FFFFFF;
}


.key-item{
    list-style: none;
    margin-right: 30px;
    padding: 5px 10px;
    border-radius: 30px;
}

.nav-links{
    text-decoration: none;
}
/* icon */
.iconbar{
    margin: 25px;
    
}

.hide{
    display: none;
}

.text-size{
    width: 32.5rem;
    height: 13.5rem;
    font-size: 50px;
    
   
}


/* banner part */
.box-size{
    width: 37.5rem;
    height: 27.5rem;
    padding-left: 80px;
}
.btn1{
    border-radius: 15px;
}


.banner-contant{
    width: 22rem;
    height: 36.5rem;
    position: relative;
}


    


/* box */
.box1{
    width: 7.5rem;
    height: 5rem;
    background-color: #303030;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    right: 220px;
    top: 230px;
}

.box-2{
    width: 7.5rem;
    height: 5rem;
    background-color: #303030;
    border-radius: 10px;
    position: absolute;
    left: 650px;
    bottom: 25px;


}

.text-box-2{
    padding-left: 10px;
    
}

.clr-ball{
    width: 20px;
    height: 20px;
    background-color: orangered;
    border-radius: 50%;
    margin-top: 25px;
}

.text-pera{
    font-size: 10px;
}
/* section 2 */

.dark{
    background-color: black;
}

.container2{
    max-width: 1044px;
    height: 451px;
    margin: 0 auto;
    border: 4px solid orangered;
}

.txt-box{
    width: 671px;
    height: 48px;
    margin: 0 auto;
}
.txt-container2{
    text-align: center;
}

.imgboxcenter{
    margin-left: 80px;
}

.img-circle{
    border-radius: 50%;
}







/* responsive part */
@media screen and (max-width: 576px) {
    .navbar, .nab-items{
        flex-direction: column;
    }
    .nav-items{
        display: none;
    }
    .hide{
        display: block;
    }

    .navbar, .nav-items, .container-size, .box-2{
        flex-direction: column;
    }

    .container-imgbox{
        flex-direction: column;
    }



}