
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
                

.regular-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.miama-font{
    font-family: 'Miama', sans-serif;
}




/* shared styles */



.display-flex{
    display: flex;
}


/* header part */
.bg-colour{
    background: linear-gradient(180deg,
    rgba(19,19,19,0.747) 0%, rgb(30,30,30) 50%, rgba(1,1,1,0.719) 100%);
}

.navbar{
    justify-content: space-between;
    
}
.brand{
    padding-left: 70px;
}

.nav-items{
    padding-right: 70px;
}

.text-color{
    color: #FFFFFF;
}

.key-item{
    list-style: none;
    margin-right: 30px;
}

.nav-links{
    text-decoration: none;
}
